.App {
    display: flex;
    flex-direction: column;
}

.list {
    display: grid;
    grid-template-columns: 1fr;
    margin-top:10px;
}

.item {

    padding: 10px;
    border: 1px solid #ced4da;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item:hover{
   box-shadow: 1px 1px 11px 1px rgba(163, 211, 248, 1);
}

.item-text {
    text-transform: capitalize;
    cursor: pointer;
    display: block;
}

.item-delete {
    cursor: pointer;
    font-weight: 800;
}

.strike {
    text-decoration: line-through green;
}
button{
    margin-left:5px;
}